

<div class="col-lg-4 col-md-4">
  <h3><i class="fa fa-check-circle"></i>Living Gluten Free</h3>
  <p> A gluten-free diet is a diet that excludes the protein gluten. Gluten is found in grains such as wheat, barley and rye.

    A gluten-free diet is used to treat celiac disease. Gluten causes inflammation in the small intestines of people with celiac disease. Eating a gluten-free diet helps people with celiac disease control their signs and symptoms and prevent complications.

    Initially, following a gluten-free diet may be frustrating. But with time, patience and creativity, you'll find there are many foods that you can eat and enjoy while observing a gluten-free diet.

    For more information on Gluten-Free Diets we suggest you visit the Mayo Clinic site if you have not already done so.!</p>
</div>
