<div class="col-lg-4 col-md-4">
  <h3><i class="fa fa-pencil"></i>Wheat Free Dieting</h3>
  <p>There are several reasons why you may choose to go wheat-free, the most obvious is if you have a wheat allergy or wheat intolerance. If you haven't visited a doctor to confirm you have a wheat intolerance, we suggest you do so.
   No information on our site should be considered medical advice. Before you start any diet you should consult with a physician or
    registered Dietician.
   </p>
</div>