<div class="container container-navbar-fix">


  <div class="account-login">
    <div class="page-title well">
      <h1>Login or Create an Account</h1>
    </div>

    <div class="row">
      <div class="span6">
        <div class="well">
          <h2>Registered Customers</h2>
          <form action="https://shop.honeyville.com/customer/account/loginPost/referer/aHR0cHM6Ly9zaG9wLmhvbmV5dmlsbGUuY29tL3dpc2hsaXN0L2luZGV4L2FkZC9wcm9kdWN0LzE1NS8,/" method="post" id="login-form" class="form-vertical">
            <fieldset>
              <legend>If you have an account with us, please log in.</legend>
              <div class="control-group">
                <div class="controls">
                  <input placeholder="*Email Address" type="text" name="login[username]" value="" id="email" class="input-text required-entry validate-email" title="Email Address">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <input placeholder="*Password" type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="Password">
                </div>
              </div>

              <p class="help-block"><small>* Required Fields</small></p>
              <button type="submit" class="button btn btn-success" title="Login" name="send" id="send2"><span><span>Login</span></span></button>
              <small><a href="https://shop.honeyville.com/customer/account/forgotpassword/" class="help-block">Forgot Your Password?</a></small>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="span6">
        <div class="hero-unit">
          <h2>New Customers</h2>
          <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
          <button type="button" title="Create an Account" class="button btn btn-primary" onclick="window.location='https://shop.honeyville.com/customer/account/create/';"><span><span>Create an Account</span></span></button>
        </div>

      </div>

    </div>


    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('login-form', true);
        //]]>
    </script>
  </div>
</div>