

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <footer>
      <a class="navbar-brand" >@Copyright 2014 ,Vasu dhanyam store </a>
      </div>
    </footer>


  </div><!-- /.container -->
</nav>

